In [1]:
import requests, re, os
import pandas as pd
import numpy as np
import yaml

from bs4 import BeautifulSoup
from sqlalchemy import create_engine

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel,cosine_similarity
from sklearn.cluster import KMeans

from pyspark.ml.recommendation import ALS
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [25]:
user = 'root'
password = 'jenny3248'
host = '127.0.0.1'
db_name = 'steam'
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{db_name}?charset=utf8mb4')

In [58]:
df_game_description = pd.read_sql_query(
    '''
        SELECT 
            app_id, 
            short_description 
        FROM steam_app_details 
        WHERE short_description IS NOT NULL
        AND type = "game" 
        AND name IS NOT NULL
        AND release_date <= CURDATE() 
        AND initial_price IS NOT NULL
    ''', engine)

In [59]:
df_game_description

        app_id                                  short_description
0      1494550  You are in a post-apocalyptic world fighting h...
1      1493310  BRAVE HERO is a platformer where the player fa...
2      1493400  For collecting orbs, you are awarded points. T...
3      1493410  Race for big money while running away from the...
4      1492930  IMUGI is a point and click isometric puzzle ga...
...        ...                                                ...
42345   393190  TSIOQUE (pronounced: &quot;chiock&quot;) is a ...
42346   655340  Take command of an interstellar starship &amp;...
42347   393200  Bad Rats Show is a physics puzzle game where t...
42348  1048560  Voidrun is a fast-paced bullet-hell arcade gam...
42349   364720  The year is 1986. Cold War leaders Ronald Reag...

[42350 rows x 2 columns]

In [61]:
tfidf = TfidfVectorizer(strip_accents='unicode',stop_words='english').fit_transform(df_game_description['short_description'].tolist())

In [ ]:
df_game_description = pd.read_sql_query(
    '''
        SELECT 
            app_id, 
            short_description 
        FROM steam_app_details 
        WHERE short_description IS NOT NULL
        AND type = "game" 
        AND name IS NOT NULL
        AND release_date <= CURDATE() 
        AND initial_price IS NOT NULL
    ''', engine)

tfidf = TfidfVectorizer(strip_accents='unicode',stop_words='english').fit_transform(df_game_description['short_description'].tolist())

lst_app_id = df_game_description['app_id'].tolist()
dic_recomended = {}
for row_index in tqdm(range(tfidf.shape[0]), desc = 'Model 2: Content Based'):
    cosine_similarities = linear_kernel(tfidf[row_index:row_index+1], tfidf).flatten()
    top_related_rows = cosine_similarities.argsort()[-2:-22:-1]
    dic_recomended.update({lst_app_id[row_index]:[lst_app_id[i] for i in top_related_rows]})


df_content_based_results = pd.DataFrame.from_dict(dic_recomended, 'index')
df_content_based_results.index.name = 'app_id'
df_content_based_results.reset_index(inplace=True)
df_content_based_results.to_sql('recommended_games_content_based',engine,if_exists='replace', index = False)